<%= link_to 'Products', products_path %>
<div>
  <% @product.errors.full_messages.each do |error|%>
    <p><%= error %></p>
  <% end %>
</div>
<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </div>
  <% @product.images.each do |image| %>
    <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
  <% end %>
  <%= form.file_field :images, multiple: true %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
